body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 20px 0px 10px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 64px;
  line-height: 75px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
}
h2 {
  margin: -139px 0px 10px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  margin: -44px 0px -13px;
  padding-top: 63px;
  padding-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  color: black;
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h4 {
  display: block;
  margin: 0px 0px 10px;
  padding-top: 0px;
  font-family:'Open Sans', sans-serif;
  color: #e45a29;
  font-size: 12px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h5 {
  margin: -16px 0px 10px;
  font-family:'Open Sans', sans-serif;
  color: #323232;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 50px;
  padding-top: 11px;
  font-family:'Open Sans', sans-serif;
  color: #4d4d4d;
  line-height: 22px;
  text-align: center;
}
.button {
  display: inline-block;
  padding: 5px 18px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: all 246ms ease;
  transition: all 246ms ease;
  font-family:'Open Sans', sans-serif;
  color: #666;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  border-color: #323232;
  background-color: #323232;
  -webkit-transition-delay: initial;
  transition-delay: initial;
  color: white;
}
.button.btn-slider {
  margin-top: 40px;
  padding: 10px 40px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.button.btn-slider:hover {
  border-color: white;
  background-color: white;
  font-family:'Open Sans', sans-serif;
  color: #323232;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.button.onnav {
  margin-right: 15px;
  padding-right: 18px;
}
.menu {
  font-family:'Open Sans', sans-serif;
  color: #666;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu:hover {
  font-family:'Open Sans', sans-serif;
  color: #323232;
  font-weight: 400;
}
.menu:focus {
  font-weight: 400;
}
.menu.portfolio-page {
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}
.topnav {
  margin-top: -15px;
  margin-bottom: -20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
}
.section {
  width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 87px;
  background-color: white;
}
.section.about {
  padding-top: 52px;
  padding-bottom: 0px;
  border-top: 1px solid #ebebeb;
}
.section.dark {
  margin-top: 2px;
  margin-bottom: -40px;
  padding-top: 70px;
  padding-bottom: 101px;
  border-top: 1px solid #ebebeb;
  background-color: #e6e6e6;
  opacity: 1;
}
.section.top {
  position: fixed;
  z-index: 10;
  width: 100%;
  margin-top: 0px;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid #ebebeb;
  background-color: white;
}
.section.testimonial {
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 1px;
  background-image: url('../images/sao_paulo_arvo_marketing_digital_sites.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  line-height: 13px;
}
.section.best-team {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-top: 1px solid #ebebeb;
}
.section.contact {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 80px;
  padding-bottom: 100px;
  border-top: 1px solid #ebebeb;
}
.section.footer {
  margin-bottom: 0px;
  padding-top: 16px;
  padding-bottom: 0px;
  background-color: #323232;
}
.section.work-info {
  padding-top: 70px;
  padding-bottom: 70px;
}
.spacer {
  display: block;
  width: 70px;
  height: 2px;
  margin: 20px auto;
  padding-left: 0px;
  background-color: #c4c4c4;
  text-align: left;
}
.aboutus {
  padding-top: 0px;
  padding-bottom: 0px;
}
.aboutimg {
  display: block;
  margin: 0px auto -6px;
  padding-top: 1px;
  padding-left: 0px;
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
.service-icon {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.service-col {
  padding-top: 40px;
  padding-right: 22px;
  padding-left: 22px;
  text-align: center;
}
.aboutinfo {
  margin-right: 100px;
  margin-left: 100px;
  color: #6e6b84;
  font-size: 17px;
  font-weight: 300;
}
.testimonials {
  margin-top: 23px;
  margin-bottom: 31px;
  padding-top: 0px;
  color: white;
  font-size: 20px;
  line-height: 31px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  text-shadow: black 1px 1px 6px;
}
.testimonial-name {
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}
.testimonial-box {
  margin-top: 90px;
  padding-right: 0px;
  padding-left: 0px;
}
.portfolio-link {
  margin-top: 0px;
  margin-bottom: 17px;
  border: 1px solid #ececec;
  background-color: white;
}
.portfolio-link:hover {
  border-color: #ececec;
  background-color: white;
  box-shadow: none;
  opacity: 1;
}
.work-name {
  margin-top: -10px;
  margin-bottom: 12px;
}
.portfolio-text {
  padding-right: 131px;
  padding-left: 131px;
  color: #454545;
}
.portfolio-more {
  margin-top: 42px;
  text-align: center;
}
.team-box {
  margin-top: 50px;
}
.team-name {
  margin-top: 25px;
  text-align: left;
}
.team-do {
  margin-top: 28px;
  text-align: left;
}
.team-info {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: left;
}
.team-social {
  margin-top: 0px;
  margin-right: 10px;
  opacity: 0.4;
}
.team-social:hover {
  opacity: 0.8;
}
.team-icons {
  margin-top: 25px;
}
.team-icons.footer {
  text-align: right;
}
.clients-logos {
  text-align: center;
}
.clients {
  margin-top: 46px;
}
.msg-text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 50px;
  border: 1px solid #c3c5c5;
  border-radius: 4px;
}
.email-text {
  margin-top: 18px;
  border: 1px solid #c3c5c5;
  border-radius: 4px;
}
.copyright {
  padding-top: 34px;
}
.copyright-text {
  font-size: 12px;
  text-align: left;
}
.nav {
  margin-right: 0px;
  background-color: transparent;
  text-align: center;
}
.next {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  opacity: 0.3;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.next:hover {
  opacity: 1;
}
.nextbar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
}
.link {
  color: #323232;
  text-decoration: none;
}
.link:hover {
  color: #666;
}
.portfolio-img {
  padding-bottom: 16px;
}
.portfolio-img:hover {
  opacity: 0.5;
}
.section-work {
  margin-top: 0px;
  padding-top: 78px;
}
.hero-img {
  position: static;
  display: block;
  padding-top: 0px;
}
.slider {
  height: 565px;
  padding-top: 80px;
}
.slide {
  display: block;
  margin-top: -19px;
  margin-bottom: 2px;
  padding-top: 122px;
  padding-bottom: 0px;
  background-image: url('../images/banner_fundo.jpg');
  background-position: 50% 50%;
  text-align: center;
}
.slide._2 {
  background-image: url('../images/stiliimeapp.jpg');
}
.slider-nav {
  padding-top: 1px;
  font-size: 12px;
}
.navbar {
  position: fixed;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}
.brand-logo {
  margin-top: 13px;
}
.brand-logo:hover {
  opacity: 0.64;
}
.brand-logo.tranistation:hover {
  opacity: 1;
}
.slidertext {
  position: static;
  margin: 57px 15px 0px;
  padding-top: 23px;
  clear: left;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  text-transform: capitalize;
}
.slider-btn {
  margin-top: 315px;
}
.thanks-msg {
  padding-top: 49px;
  padding-bottom: 1px;
  border: 1px solid #08a800;
  border-radius: 4px;
  background-color: transparent;
}
.thankyou {
  color: #08a800;
  text-transform: none;
}
.error-msg {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid #cf3030;
  border-radius: 4px;
  background-color: transparent;
}
.error {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #cf3030;
}
.line {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 17px;
}
.slidersubtext {
  margin: 5px 15px 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 35px;
  font-weight: 600;
  text-align: left;
}
.text_banner {
  margin-top: 8px;
  padding-top: 0px;
  font-family:'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.94);
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0px;
}
.servicos {
  margin-top: -68px;
  color: #323232;
  font-size: 25px;
}
.digitalmarketing {
  padding-top: 34px;
  padding-bottom: 0px;
  font-size: 17px;
  font-weight: 300;
}
.websites {
  padding-top: 34px;
  color: #790064;
  font-size: 17px;
  font-weight: 300;
}
.socialmarketing {
  padding-top: 34px;
  padding-bottom: 0px;
  color: #c30062;
  font-size: 17px;
  font-weight: 300;
}
.aspa {
  margin-top: -20px;
  margin-bottom: -48px;
  padding-top: 52px;
  padding-bottom: 0px;
  padding-left: 200px;
  opacity: 0.2;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 145px;
}
.aspasbaixo {
  opacity: 0.22;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 145px;
}
.titulocliente {
  margin-top: 52px;
  padding-top: 0px;
  text-align: center;
}
.topocontato {
  padding-top: 25px;
}
.slide_icons {
  padding-right: 26px;
  padding-left: 26px;
}
.slide_icons.left {
  padding-left: 100px;
}
.slide_icons.right {
  padding-right: 100px;
}
.slide_icons_text {
  padding-top: 35px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}
.table_slide {
  padding-top: 9px;
}
.image_slide_table {
  padding-right: 33px;
}
.mainform {
  position: relative;
  left: 259px;
  top: 107px;
  right: 59px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
}
.name {
  margin-right: 0px;
  margin-left: 16px;
  padding-right: 13px;
}
.form-label {
  font-family:'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}
.form1 {
  margin-top: 13px;
  margin-right: 100px;
  margin-left: 100px;
  padding-right: 434px;
  font-family:'Open Sans', sans-serif;
}
.button_main_form {
  position: relative;
  left: -70px;
  top: 106px;
  right: 0px;
  bottom: 0px;
  margin-top: 10px;
  padding-top: 8px;
  padding-bottom: 5px;
  clear: none;
  border: 3px solid white;
  background-color: rgba(255, 0, 0, 0);
  font-family:'Open Sans', sans-serif;
  color: white;
  font-weight: 300;
}
.field1 {
  position: absolute;
  left: -109px;
  margin-top: 68px;
  padding-left: 15px;
  float: right;
}
.sucesso {
  width: 803px;
  height: 47px;
  margin-top: 7px;
  margin-bottom: 16px;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  font-weight: 300;
  text-align: center;
}
.slidersubtext2 {
  margin: 20px 15px;
  font-family:'Open Sans', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}
.position {
  margin-right: 3px;
}
.headingc {
  color: #c30062;
}
.headingb {
  color: #790064;
}
.headinga {
  color: #e45a29;
}
.website {
  color: #790064;
}
@media (max-width: 991px) {
  h1 {
    font-size: 48px;
  }
  .button.btn-slider {
    margin-top: 42px;
  }
  .menu {
    padding-left: 25px;
    border-radius: 0px;
    background-color: transparent;
    color: white;
  }
  .menu:hover {
    color: white;
  }
  .section {
    margin-top: 0px;
    padding-top: 72px;
    padding-bottom: 0px;
  }
  .section.about {
    padding-top: 50px;
  }
  .section.top {
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .section.contact {
    margin-top: 61px;
  }
  .section.work-info {
    padding-top: 70px;
  }
  .aboutinfo {
    margin-right: 0px;
    margin-bottom: 39px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .portfolio-text {
    margin-right: 44px;
    margin-left: 44px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .team-box {
    padding-top: 0px;
  }
  .menu-button.w--open {
    margin-right: -27px;
    padding-right: 25px;
    padding-left: 18px;
    background-color: #323232;
  }
  .nav-mobile-open {
    margin-top: 65px;
    margin-right: -68px;
    margin-left: 30px;
    padding-left: 0px;
    border: 1px solid #ededed;
    background-color: white;
  }
  .hero-img {
    padding-top: 0px;
  }
  .nav-menu {
    position: absolute;
    background-color: black;
  }
  .close-arrow {
    position: relative;
    top: 0px;
    right: 0px;
    margin-left: auto;
  }
  .close-sidebar {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    padding-top: 13px;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .slidertext {
    margin-bottom: 0px;
    font-size: 32px;
  }
  .slidersubtext {
    margin-bottom: 16px;
    padding-top: 12px;
    font-weight: 600;
  }
  .text_banner {
    padding-top: 1px;
  }
  .aspasbaixo {
    margin-left: -89px;
    padding-left: 0px;
  }
  .titulocliente {
    margin-top: -1px;
  }
}
@media (max-width: 767px) {
  h1 {
    margin-top: -15px;
    font-size: 35px;
  }
  .button.btn-slider {
    margin-top: 81px;
  }
  .logo {
    padding-top: 0px;
  }
  .menu {
    padding-left: 25px;
  }
  .section {
    padding-top: 78px;
  }
  .section.about {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section.dark {
    padding-top: 60px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .section.top {
    margin-top: 0px;
    padding: 22px 0px 22px 30px;
  }
  .section.best-team {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section.contact {
    padding-right: 30px;
    padding-left: 30px;
  }
  .section.footer {
    margin-bottom: 0px;
    padding-bottom: 30px;
  }
  .section.work-info {
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .aboutimg {
    padding-top: 30px;
  }
  .testimonials {
    margin-top: 87px;
  }
  .testimonial-box {
    margin-top: 19px;
    padding-right: 30px;
    padding-left: 30px;
  }
  .portfolio-link {
    margin: 10px 98px 30px;
    padding-left: 0px;
    text-align: center;
  }
  .portfolio-text {
    margin-bottom: 50px;
    padding-bottom: 0px;
  }
  .team-box {
    padding-top: 55px;
    text-align: center;
  }
  .team-name {
    margin-bottom: 0px;
    text-align: center;
  }
  .team-do {
    margin-top: 0px;
    text-align: center;
  }
  .team-info {
    text-align: center;
  }
  .team-icons {
    text-align: center;
  }
  .team-icons.footer {
    text-align: center;
  }
  .clients-logos {
    padding-top: 48px;
  }
  .copyright-text {
    padding-bottom: 0px;
    text-align: center;
  }
  .nav {
    margin-right: -10px;
  }
  .menu-button {
    margin-top: -26px;
  }
  .menu-button.w--open {
    margin-right: 0px;
    padding-right: 25px;
    background-color: #323232;
  }
  .nav-mobile-open {
    margin-top: 43px;
    margin-right: -46px;
  }
  .nextbar {
    margin-top: -32px;
    padding-top: 0px;
  }
  .section-work {
    margin-top: 0px;
    padding-top: 73px;
  }
  .slider {
    height: auto;
    padding-top: 64px;
  }
  .slide {
    margin-top: -9px;
    margin-bottom: -72px;
    padding-top: 134px;
    padding-bottom: 133px;
  }
  .slide._2 {
    padding-top: 283px;
  }
  .brand-logo {
    margin-top: 7px;
    padding-top: 9px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .menu-button {
    margin-top: 0px;
  }
  .slidertext {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 25px;
  }
  .slider-btn {
    margin-top: 251px;
  }
  .form {
    margin-bottom: 50px;
  }
  .slidersubtext {
    margin-top: -1px;
  }
  .text_banner {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 35px;
  }
}
@media (max-width: 479px) {
  body {
    overflow-x: visible;
    overflow-y: visible;
    max-height: 100%;
  }
  h1 {
    margin-top: -10px;
    margin-bottom: 3px;
    padding-bottom: 0px;
    font-size: 25px;
  }
  h3 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 27px;
    line-height: 35px;
  }
  h4 {
    margin-top: 8px;
    margin-bottom: -1px;
  }
  .button.btn-slider {
    display: inline-block;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
  }
  .button.onnav {
    margin-right: 10px;
  }
  .menu {
    padding-left: 25px;
  }
  .section {
    margin-top: 79px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section.dark {
    padding-top: 41px;
    padding-bottom: 41px;
  }
  .section.top {
    position: fixed;
    padding-left: 10px;
  }
  .section.testimonial {
    padding: 15px 30px;
  }
  .section.contact {
    margin-top: 41px;
    margin-bottom: 0px;
  }
  .section.footer {
    margin-top: 0px;
  }
  .section.work-info {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .aboutus {
    padding-top: 0px;
  }
  .service-col {
    padding: 0px 0px 40px;
  }
  .aboutinfo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  .testimonials {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 16px;
  }
  .testimonial-name {
    margin-top: 24px;
    text-align: center;
  }
  .testimonial-box {
    margin-top: 60px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .portfolio-link {
    margin-right: 0px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
  .portfolio-text {
    margin-bottom: 50px;
  }
  .team-box {
    padding-top: 0px;
  }
  .team-do {
    margin-top: 0px;
  }
  .team-icons.footer {
    margin-top: 0px;
  }
  .clients-logos {
    padding-top: 40px;
  }
  .nav-mobile-open {
    box-shadow: none;
  }
  .nextbar {
    margin-top: -33px;
    padding-left: 0px;
  }
  .section-work {
    margin-top: 0px;
    padding-top: 72px;
  }
  .slider {
    height: 469px;
    margin-bottom: -80px;
  }
  .slide {
    margin-top: 2px;
    margin-bottom: -91px;
    padding-top: 95px;
    padding-bottom: 14px;
  }
  .slide._2 {
    padding-top: 290px;
    padding-bottom: 100px;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .brand-logo {
    margin-top: 16px;
    margin-bottom: 12px;
    padding-left: 5px;
  }
  .menu-button {
    padding-top: 29px;
  }
  .menu-button.w--open {
    background-color: #404040;
  }
  .slidertext {
    margin-top: 0px;
    font-size: 21px;
  }
  .slidersubtext {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .text_banner {
    display: block;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 13px;
    padding-bottom: 8px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 24px;
  }
  .aspa {
    margin-left: -22px;
    padding-left: 0px;
  }
  .aspasbaixo {
    margin-top: -49px;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
  }
  .position {
    margin-top: 10px;
  }
  .headingc {
    margin-top: 0px;
  }
  .headingb {
    margin-top: 0px;
  }
  .headinga {
    margin-top: 0px;
  }
}

